@charset "UTF-8";

header nav li:nth-of-type(1) a{color: rgb(216, 0, 0);}
h3 img{width: 15px;height: 30px; margin: 0 10px 0 5px;}
h3{font-size: 38px;}

/* 슬라아더입니다 */
#slidal{width: 100%; height: 724.5px; background-image: url(../img/main/slidal.jpg); 
    padding: 116px 0 0 0; background-repeat: no-repeat; background-position: center;background-size: cover;}
#slidal .slidal-box{width: 100%; height: 490px; margin: 0 auto; position: relative;}
#slidal .slidal-box .time-box{width: 1410px; height: 100%;  background-image: linear-gradient(to right, rgba(255,0,0,0),black,black,rgba(255,0,0,0));
    ;margin: 0 auto; opacity: 0.8;}
#slidal .slidal-box .time-text{width: 1410px; height: 490px; position: absolute;top: 0;
left: 50%; margin: 0 -705px; padding: 40px 0;} 
    .slidal-box .time-text p{color: white; text-align: center;font-size: 17px;}
    .slidal-box .time-text h2{color: white; text-align: center;font-size: 50px; margin: 10px 0;}

/* 경기일정 입니다 */
#MATCHES-outer{width: 100%;height: 738px; padding: 100px 0;}
#MATCHES{width: 1410px;height: 538px; margin: 0 auto;}
#MATCHES h3{float: left;}
#MATCHES .MATCHES-box-text{width: 100%; height: 15%;}
#MATCHES .MATCHES-box1{width: 35%; height: 100%; float: left;}
    .MATCHES-box1 table{width: 100%; height: 85%; border-collapse : collapse;}
    .MATCHES-box1 table td{background-color: rgb(17, 17, 17); color: rgb(211, 211, 211);}
    .MATCHES-box1 table td:nth-last-of-type(1){padding: 0 45px 0 0; text-align: right; width: 30%;}
    .MATCHES-box1 table td:nth-last-of-type(2){text-align: center; width: 40%;}
    .MATCHES-box1 table td:nth-last-of-type(3){padding: 0 0 0 45px; text-align: left; width: 30%;}
    .MATCHES-box1 table th{background-color: rgb(46, 46, 46); color: white;}
    .MATCHES-box1 table th:nth-last-of-type(1){padding: 0 45px 0 0; text-align: right; width: 30%;}
    .MATCHES-box1 table th:nth-last-of-type(2){text-align: center; width: 40%;}
    .MATCHES-box1 table th:nth-last-of-type(3){padding: 0 0 0 45px; text-align: left; width: 30%;}

#MATCHES .MATCHES-box2{width: 65%; height: 100%; float: left;}
    .MATCHES-box2 .vs{width: 100%; height: 85%; background-image: url(../img/main/vs.webp);
    background-position: center; background-size: cover; display: flex; align-items: center;
justify-content: space-between;}
    .MATCHES-box2 .manchester{margin: 0 90px;}
    .MATCHES-box2 .manchester h4{color: white; text-align: center; font-size: 20px;}
    .MATCHES-box2 .manchester img{width: 212px; height: 212px;}

/* 선수단 입니다 */
#players{width: 100%; height: 695px; background-color: #222; padding: 100px 0 0 0;}
#players .name{width: 1410px; height: 91.5px; margin: 0 auto;}
    .name h3{color: white; float: left;}
    .name span{color: white; width: 200px; height: 42px; border: solid 1px rgb(206, 0, 0);
    float: right; margin-top: 5px; text-align: center; line-height: 41px; font-weight: bold;
    letter-spacing: 3px;}

#players .players-box{width: 1410px;height: 445px; margin: 0 auto;
display: flex; justify-content: space-between; }
    .players-box .play{width: 23.5%; height: 100%;}
        .play h4{text-align: center; color: white; font-weight:bold; font-size: 23px; margin-top: 15px;}
        .play p{text-align: center; color: rgb(219, 219, 219); }
        .play .Ronaldo{width: 100%; height: 80%; background-image: url(../img/main/players/FW/Cristiano_Ronaldo.png);
        background-size: cover; background-position: center;}
        .play .Pogba{width: 100%; height: 80%; background-image: url(../img/main/players/MF/Paul\ Pogba.jpg);
        background-size: cover; background-position: center;}
        .play .Maguire{width: 100%; height: 80%; background-image: url(../img/main/players/DF/Harry_Maguire.jpg);
        background-size: cover; background-position: center;}
        .play .deGea{width: 100%; height: 80%; background-image: url(../img/main/players/GK/David_de_Gea.jpg);
        background-size: cover; background-position: center;}

/* 팀 순위 입니다 */
#RANKING-outer{width: 100%;height: 680px;}
#RANKING{width: 1410px; height: 680px; margin: 0 auto;background-color: sienna;padding-top:90px;}
#RANKING h3{margin-bottom: 45px;}
#RANKING .RANKING-box1{width: 65%; height: 511px; float: left; background-color: chartreuse;}
    .RANKING-box1 .League{width: 100%; height: 418px; background-color: tomato;}
    .RANKING-box1 .League ul{display: flex; justify-content: flex-start;}
    .RANKING-box1 .League li{margin-right: 30px; font-size: 20px;}
    .RANKING-box1 .League .Premier{width: 100%; height: 88%; background-color: thistle;
    margin-top: 25px; position: relative;}
    .RANKING-box1 .League span{color: white; width: 200px; height: 42px; border: solid 1px rgb(206, 0, 0);
         position: absolute; text-align: center; line-height: 41px; font-weight: bold;
        letter-spacing: 3px; top: 230px; left: 50px;}
#RANKING .RANKING-box2{width: 35%; height: 511px; float: left; background-color: chocolate; padding-left: 50px;}
    .RANKING-box2 table{width: 100%; height: 420px;border-collapse :collapse; border-spacing: 5px;}
    .RANKING-box2 tr{border: solid rgb(141, 141, 141) 1px;}
    .RANKING-box2 tr:nth-of-type(1){border: none}
    .RANKING-box2 tr:nth-of-type(2n){height: 12px; border: none;}
    .RANKING-box2 th:nth-of-type(1){text-align:left;}
    .RANKING-box2 td:nth-of-type(1){width: 13%; text-align: center; font-weight: bold; background-color: black;
    color: white;}
    .RANKING-box2 td:nth-of-type(2){width: 27%; font-weight: bold; }
    .RANKING-box2 td:nth-of-type(3){width: 15%; text-align: center;}
    .RANKING-box2 td:nth-of-type(4){width: 15%; text-align: center;}
    .RANKING-box2 td:nth-of-type(5){width: 10%; text-align: center;}
    .RANKING-box2 td:nth-of-type(6){width: 10%; text-align: center;}
    .RANKING-box2 td:nth-of-type(7){width: 10%; text-align: center;}


/* 비디오 입니다 */
#VIDEOS{width: 100%;height: 568px;}
#VIDEOS .VIDEOS-text{width: 100%; height: 88px;}
    .VIDEOS-text h3{text-align: center;}
#VIDEOS .VIDEOS-box{width: 100%; height: 480px;}
    .VIDEOS-box iframe{float: left; width: 33.33333%; height: 100%;}

/* 상점입니다 */
#STORE-outer{width: 100%; height: 648px; padding: 100px 0;}
#STORE-long{width: 100%; height: 448px; background-color: grey;}
#STORE{width: 1410px;height: 448px; background-color: slateblue;margin: 0 auto;}
    #STORE .STORE-text{width: 100%; height: 20%; background-color: blanchedalmond;}
        .STORE-text h3{float: left;}
        .STORE-text span{float: right; width: 200px; height: 35px; border: solid grey 1px;
        margin-top: 10px; text-align: center; line-height: 35px;}
    #STORE .STORE-box{width: 100%; height: 80%; background-color: cornflowerblue;}
        .STORE-box .Goods{width: 19%; height: 100%; background-color: honeydew; padding-top: 11px;
        box-shadow: grey 0 2px 5px; border-radius: 5px;float: left;}
        .STORE-box .Goods .photo{width: 90%;height: 65%; background-color: hotpink;margin: 0 11px;}
        .Goods p{text-align: center; margin-top: 15px;}
        .Goods p:nth-of-type(2){text-align: center; font-size: 25px; font-weight: bold; color: rgb(194, 0, 0);
        margin-top: 8px;}
        

/* 이번트 입니다 */
#Event{width: 100%;height: 405px; background-image: url(../img/main/Event.png);
background-repeat: no-repeat; background-size: cover;background-position: center; padding-top: 80px;}
#Event .Event-box{width: 1410px; height: 245px; margin: 0 auto; }
    .Event-box p{color: white; font-weight: bold; font-size: 20px;margin-bottom: 20px;}
    .Event-box h2{color: white; font-weight: bold; font-size: 50px;letter-spacing: -5px;}
    .Event-box span{width: 150px; height: 45px; background-color: white; color: rgb(223, 0, 0);
    font-weight: bold; display: inline-block; text-align: center; line-height: 45px;
    letter-spacing: 3px; margin-top: 20px;}

