header nav li:nth-of-type(6) a{color: rgb(216, 0, 0);}
/* 선수사진, 이름, 동영상 이나오는 박스입니다    ///////
/////////////////////////////////////////////////////
///////////////////////////////////////////////////// */
#PLAYERS{width: 100%; height: 900px; background-color: rgb(216, 216, 216);position: relative;}
    .PLAYERS-p{width: 100%; height: 400px; background-image: url(../img/sub2/slidal.jpg);
    opacity: 0.5; background-size: cover;background-position: center;
    position: absolute; top: 0;z-index: 1;}
        /* 선수이름 배경입니다 */
        .PLAYERS-text-back{width: 1500px;height: 400px; background-color: rgb(255, 0, 0); 
        position: absolute; right: 50%;opacity: 0.8;transform: skewX(-20deg);}
        /* 선수 메인 창 입니다 */
        .PLAYERS-box{width: 1410px; height:100%;z-index: 4;position:relative;
            left: 50%;top: 0; margin-left: -705px;}
            /* 선수이름 창 입니다  /버튼    */
            .PLAYERS-text{width: 600px; height: 400px;padding: 30px 100px;
            position: relative;z-index: 2;}
                .PLAYERS-text .button{width: 150px; height: 45px; background-color: rgb(235, 235, 235);
                color: black;border-radius: 45px; text-align: center;line-height: 45px;}
                .PLAYERS-text p{font-size: 30px; margin-top: 20px;letter-spacing:5px;font-weight: bold;}
                .PLAYERS-text h2{font-size: 85px;}
                .PLAYERS-box img[alt="7"]{position: absolute; top: 100px;left: 370px;width: 180px;height: 250px;}
                .PLAYERS-box img[alt="ronaldo"]{position: absolute; top: 20px;right:250px;width: 300px;}
            /* 비디오 입니다 */
            .video{width: 1000px;height: 400px; background-image: url(../img/sub2/vi.jpg);
            margin: 50px auto; position: relative; cursor: pointer; background-size: cover; background-position: center;}
            .video:hover>button{background:none}
                .video div{width: 100%; height: 100%;opacity: 0.3;background-color: red;}
                .video button{width: 90px;height: 90px;border-radius: 90px;position: absolute;
                border: solid rgb(255, 255, 255) 5px; background-color: black;
                top:50%;left: 50%; margin: -40px;opacity: 0.7; cursor: pointer;transition: 0.4s;}
                    .video button img{width: 50px;margin: 15px 20px;}

/* 선수 정보칸 입니다 //////////////////////
/////////////////////////////////////////////
///////////////////////////////////////////// */
#information{width: 1410px;height: 500px; margin: 0 auto; background-color: green;display: flex;
flex-direction: row; flex-wrap: wrap; justify-content: space-between;align-content: stretch}
#information hr{border: solid rgb(199, 169, 0) 2px; margin-bottom: 15px;}

    .TRAYECTORIA{width: 500px; height: 200px; background-color: khaki; } 
        .TRAYECTORIA h3{font-size: 22px;}  
        .TRAYECTORIA li{list-style:disc; margin: 5px 0 0 32px; }

    .DATOS-PERSONALES{width: 500px; height: 300px; background-color: lightpink;}
        .DATOS-PERSONALES h3{font-size: 22px;}
        .DATOS-PERSONALES table{width: 100%; font-size: 18px;}
        .DATOS-PERSONALES th{text-align: left;}
        .DATOS-PERSONALES tr:nth-of-type(2) td{font-size: 25px;}
        .DATOS-PERSONALES td{color: rgb(88, 88, 88); width: 50%;}

    .ESTADÍSTICAS{width: 500px; height: 300px; background-color: lightblue; margin-top: -100px;}
        .ESTADÍSTICAS h3{font-size: 22px;}
        .ESTADÍSTICAS table{width: 100%;}
        .ESTADÍSTICAS th{text-align: left; font-size: 50px; background-color: goldenrod;
        height: 50px;color: rgb(66, 66, 66);}
        .ESTADÍSTICAS td{font-weight: bold;color: gray;font-size: 15px; height: 15px;}
        .ESTADÍSTICAS button{font-size: 18px;color: rgb(216, 0, 0);background: none;
        cursor: pointer; margin-top: 15px;letter-spacing:-2px}

    .PALMARÉS{width: 500px; height: 200px; background-color: royalblue;}
        .PALMARÉS h3{font-size: 22px;}

/* <!-- 선수 사진 및 상점 입니다 ////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////--> */
#photo-shop{width: 1410px; height: 500px; background-color: hotpink; margin: 0 auto;}
    .photo{width: 70%; height: 100%; float: left ;background-color: salmon;}
        .photo-text{width: 100%; height: 13%; background-color: slateblue;}
        .photo-box{width: 85%; height: 73%; background-color: springgreen;}
            .photo1{width: 70%; height: 100%; background-color: rgb(5, 56, 99);float: left;}
            .photo2{width: 30%; height: 50%; background-color: rgb(91, 216, 158);float: right;}
            .photo3{width: 30%; height: 50%; background-color: rgb(142, 90, 226);float: right;}
    .shop{width: 30%;height: 100%; float: right; background-color: skyblue;}
        .shop-text{width: 100%; height: 13%; background-color: rgb(184, 173, 255);}
        .shop-box{width: 40%; height: 73%; background-color: rgb(216, 0, 0);margin: 0 auto;
        opacity: 0.5;}

/* <!-- 다음으로 넘어가는 칸 입니다   ////////
/////////////////////////////////////////
///////////////////////////////////////// --> */
#next{width: 1410px;height: 200px; background-color: gray; margin: 0 auto;}